@charset "utf-8";

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
table { border-collapse: collapse; border-spacing: 0; }

/* General 
--------------------------------------------------------------------------------------------------------*/
* { outline: none !important; }
/* .window-resizing *, body:not(.page-loaded) *{transition: none!important; } */
a{transition: all 0.3s;}
html, body { min-width: 320px; min-height: 100vh; }
body { font-size: 16px; line-height: 22px; font-family: 'Roboto', sans-serif;}

a { color: #000; text-decoration: none; }
a:hover { color: #999; text-decoration: none; }
h1, h2, h3, h4, h5, h6 { line-height: 1.2em;  }
h1 span, h2 span, h3 span, h4 span, h5 span, h6 span { display: block; }
h1 {font-size: 40px;}
h2 {font-size: 30px; } 
h3 {font-size: 25px; }
h4 {font-size: 22px; }
h5 {font-size: 16px; }
h6 {font-size: 15px; }

input[type=text], input[type=email], input[type=password], textarea { -webkit-appearance: none; appearance: none; }
::-webkit-input-placeholder { color: #000; }
::-moz-placeholder { color: #000; }
:-ms-input-placeholder { color: #000; }
:-moz-placeholder { color: #000; }
::-moz-focus-inner { border: 0; }
select:-moz-focusring { color: transparent; text-shadow: 0 0 0 #000; }
option:not(:checked) { color: black; }

:root{
    --primary:#C8242F;
    --secondary:#ADADAD;
    --primarymain:#FFF3F4;
    --orange:#F16C20;
    --yellow:#EBC844;
    --green:#A2B86C;
}
*{
    box-sizing: border-box;
}

/* Login Page
--------------------------------------------------------------------------------------------------------*/

.login-left .login-img{position: relative;max-width: 100%; z-index: 2;}
.login-left .login-net{position: absolute;max-width: 65%; z-index: 1; left: 0px;top:0px;}
.login-right .logo{max-width: 100%; margin-bottom: 14px;}
.strong-text{color:var(--primary)}
.btn-line{display: flex;align-items: center;margin-bottom: 26px;}


/* Header navigation
--------------------------------------------------------------------------------------------------------*/
.main-container .header{display: flex;align-items: center;z-index: 30;position: sticky; top:0; justify-content: space-between;height: 80px;background-color: #fff;}
.leftnav{display: flex;max-width: 100%;align-items: center;}
.leftnav .brand{width: 142px; height:30px; margin-left: 15px; margin-right: 75px;}
.leftnav .brand-icon{display: none;}

.rightnav{display: flex;align-items: center; max-width: 100%;}

 .leftnav .btn-close-search{display: none;}
 .search-input{ margin-left:  -10px;position: relative;transition: all 0.7s ease;}
 .search-input:hover, .search-input:focus, .search-input:active{ border:1px solid var(--primary) ; border-radius: 5px;}
 .search-input .form-control { border: 0;color: #000000;font-size: 15px;transition: all 0.7s ease; font-weight: 400; line-height: 20px; background: url("./Assets/Images/search-ic.svg") no-repeat;background-position: 5px center;padding: 12px 16px 12px 35px; border-radius: 5px;}
 .search-input .form-control :focus, .search-input .form-control :hover,
 .search-input .form-control :active {border: 1px solid var(--primary);}
  

/* Sidebar
--------------------------------------------------------------------------------------------------------*/
.sidebar{padding-top: 25px;width: 242px;max-height:100%; background-color: #fff;border-top: 1px solid#ADADAD;transition: all 0.7s ease;
    position: sticky; top: 80px;}
.sidebar .sidelinks{display: flex; flex-wrap: nowrap; align-items: center; padding: 9.5px 15px; margin-bottom: 10px;}
.sidelinks:hover , .sidelinks:focus , .sidelinks:active, .sidebar .active:hover ,.sidebar .active:focus ,.sidebar .active:active{background-color: var(--secondary);}
.setStatus .sidebar{flex-shrink: 1;margin-left: -242px;  }
.sidebar .active .text-default{color: var(--primary);}
.sidebar .active {background-color:#FFF3F4;}
.sidebar .sidelinks .active-img{display: none;}
.sidebar .active .active-img{display: block;}
.sidebar .sidelinks .default{display: block;color: #CFD2DC;font-weight: 400;font-size: 15px;line-height: 24px;}
.sidebar .active .default{display: none;}


/* Main Content
--------------------------------------------------------------------------------------------------------*/
.wrapper{display: flex;}
.main-container{background-color: #E5E5E5;}
.main-content{padding: 44px 50px;width: calc(100% - 242px); transition: all 0.7s ease;}
.setStatus .main-content{width: 100%;}
.sticker{display: flex;}
.sales-heading{display: flex; justify-content: space-between;}
.sales .img .img-fluid{max-width: 100%;margin-top: 26px;}
.sales .img{display: flex; justify-content: center;}
.sales .img .pie-chart{margin-bottom: 27px;}
.sales-card .country{display: flex; justify-content: space-between;}

.cycle {position: relative; display: flex; justify-content: center; align-items: center;}
.cycle-center{position: absolute ;}
 .props::before{content:"";position: absolute;border-radius: 50px; left:-26px; width:18px;height:18px;}
 .america::before{background-color:var(--primary);}
 .russia::before{background-color:var(--orange);}
 .canada::before{background-color:var(--green);}
 .india::before{background-color:var(--yellow);}


.main-content .users-page .inner-heading:not(:first-child){margin-top: 52px;margin-bottom: 28px;}
.validation-notes{margin-top: 38px; margin-bottom: 36px;}
.text-message{font-size: 15px;line-height: 20px;padding: 10px;display: flex;align-items: center;}
.text-message img{margin-right: 10px;}
.text-danger{color: #FF3535;border-radius: 5px; border: 1px solid Red;}
.text-warn{color: #FFC737;border-radius: 5px; border: 1px solid #FFC737;}
.text-info{color: #37DBFF;border-radius: 5px; border: 1px solid #37DBFF;}
.text-success{color: #65FF87;border-radius: 5px; border: 1px solid #65FF87;}

.login-select{background: url(./Assets/Images/select-arrow.svg) no-repeat; background-position-x: 98%; background-position-y: center;}



/* Responsive Media Queries
--------------------------------------------------------------------------------------------------------*/
@media (max-width:1535px) { }
@media (max-width:1399px) {
.country{display: flex;flex-direction: column;}

 }
@media (max-width:1199px) {
.country-sales-horizontal{display: flex; align-items: center; justify-content: space-evenly;}
 }
@media (max-width:899px) {
    .sidebar {position: fixed;margin-left: -242px;z-index: 30;height: 100%;}
    .main-content{padding:40px 35px;width: 100%;}
    .setStatus .sidebar {margin-left: 0px;flex-shrink: 1;overflow: hidden;}
    .overlay {position: fixed;transition: all 0.2s ease;top: 0;bottom: 0;left: 0;z-index: 29;visibility: hidden;
        background: rgba(0, 0, 0, 0.4);display: block;opacity: 0;right: 0;}
    .overlaysearch {position: fixed;transition: all 0.2s ease;top: 0;bottom: 0;left: 0;z-index: 29;visibility: hidden;
        background: rgba(0, 0, 0, 0.4);display: block;opacity: 0;right: 0;}
    .setStatus .overlay {visibility: visible;opacity: 1;}
    .setSearch .overlaysearch {visibility: visible;opacity: 1;}

    .setSearch .header{background-color: var(--primarymain);transition: all 0.7s ease;  }

    .search-input {display: none;}
   
    .setSearch .btn-close-search {display: block;position: absolute;right: 0;top: 20px;}
    .setSearch .search-input .form-control{width:100%; margin-left: 0 ; border: none; }
    .setSearch .search-input{  display: block; z-index: 1 ;position: fixed;background: transparent;margin: 0;top: 10px;left: 60px ;right: 60px ;border-radius: 10px; padding: 5px ;
     border:2px solid #C8242F; }

     .setSearch .leftnav .brand,.setSearch .leftnav .brand-icon,
     .setSearch .leftnav .search-btn,.setSearch .rightnav{display: none;}

     .leftnav .brand{margin-right:40px ;}
     .header .rightnav{margin-right: 15px;}

.country{display: flex;flex-direction: column;}
     
 }
@media (max-width:599px) {
    .main-content{padding:40px 25px;}

    .logo{width: 200px;}
    .menu .profile-arrow{display: none;}
    .leftnav .brand{display: none;}
    .leftnav .brand-icon{display: block;width: 40px; height:40px; margin-left: 5px; margin-right: 30px;}
.country-sales-horizontal{display: flex;flex-direction: column; align-items: center; justify-content: space-evenly;}
.country{display: flex;flex-direction: row; justify-content: space-between;}

   
 }

 @media (max-width:475px) {
.country{display: flex;flex-direction: column;}

 }
