@charset "utf-8";

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
table { border-collapse: collapse; border-spacing: 0; }

/* General 
--------------------------------------------------------------------------------------------------------*/
* { outline: none !important; }
/* .window-resizing *, body:not(.page-loaded) *{transition: none!important; } */
a{transition: all 0.3s;}
html, body { min-width: 320px; min-height: 100vh; }
body { font-size: 16px; line-height: 22px; font-family: 'Roboto', sans-serif;}

a { color: #000; text-decoration: none; }
a:hover { color: #999; text-decoration: none; }
h1, h2, h3, h4, h5, h6 { line-height: 1.2em;  }
h1 span, h2 span, h3 span, h4 span, h5 span, h6 span { display: block; }
h1 {font-size: 40px;}
h2 {font-size: 30px; } 
h3 {font-size: 25px; }
h4 {font-size: 22px; }
h5 {font-size: 16px; }
h6 {font-size: 15px; }

input[type=text], input[type=email], input[type=password], textarea { -webkit-appearance: none; appearance: none; }
::-webkit-input-placeholder { color: #000; }
::-moz-placeholder { color: #000; }
:-ms-input-placeholder { color: #000; }
:-moz-placeholder { color: #000; }
::-moz-focus-inner { border: 0; }
select:-moz-focusring { color: transparent; text-shadow: 0 0 0 #000; }
option:not(:checked) { color: black; }

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance:none;
}

:root{
    --primary:#C8242F;
    --secondary:#ADADAD;
    --primarymain:#FFF3F4;
}
*{
    box-sizing: border-box;
}

/* Login Page
--------------------------------------------------------------------------------------------------------*/
.login-container{position: relative;}

.login-mockup{position: relative; padding: 40px 0 30px 137px;}
.login-mockup .hero-image{position: relative;max-width: 100%;z-index: 2; }
.login-mockup .login-net{position: absolute;max-width: 70%;height: 100%; z-index: 1; right:0; bottom: 0;  left: 0px;top:0px;}



.login-form{max-width: 524px;margin-left: auto;}
.login-form img{max-width: 100%; margin-bottom: 14px;}
.strong-text{color:var(--primary)}
.btn-line{display: flex;align-items: center; justify-content: space-between;margin-top: 30px; margin-bottom: 26px;}

/* Header navigation
--------------------------------------------------------------------------------------------------------*/
.main-container .header{display: flex;align-items: center;z-index: 30;position: sticky; top:0; justify-content: space-between;height: 80px;background-color: #fff;box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.05);}
.leftnavbar{display: flex;max-width: 100%;align-items: center;}
.leftnavbar .brand{width: 142px; height:30px; margin-left: 15px; margin-right: 75px;}
.leftnavbar .brand-icon{display: none;}
.rightnavbar{display: flex;align-items: center; max-width: 100%;}
.leftnavbar .btn-close-search{display: none;}
.search-input{ margin-left: -10px;position: relative;transition: all 0.7s ease;}
.search-input .form-control { border: 0;color: #000000;font-size: 15px;transition: all 0.7s ease; font-weight: 400; line-height: 20px; 
    background: url("./Assets/Images/search-ic.svg") no-repeat;background-position: 12px center;padding: 12px 16px 12px 40px; border-radius: 5px;}
.search-input .form-control:focus, .search-input .form-control:hover,
.search-input .form-control:active {border: 1px solid var(--primary); border-radius: 5px;}
  

/* Sidebar
--------------------------------------------------------------------------------------------------------*/
.sidebar{padding-top: 25px;width: 242px;max-height:100%; background-color: #fff;transition: all 0.7s ease;
    position: sticky; top: 80px;}
.sidebar .sidelinks{display: flex; flex-wrap: nowrap; align-items: center; padding: 9.5px 15px; margin-bottom: 10px;}
.sidelinks:hover , .sidelinks:focus , .sidelinks:active {background-color: #f6f6f6;}
.setStatus .sidebar{flex-shrink: 1;margin-left: -242px;  }
.sidebar .active .text-default{color: var(--primary);}
.sidebar .active {background-color:#FFF3F4;}
.sidebar .sidelinks .active-img{display: none;}
.sidebar .active .active-img{display: block;}
.sidebar .sidelinks .default{display: block;color: #CFD2DC;font-weight: 400;font-size: 15px;line-height: 24px;}
.sidebar .active .default{display: none;}


/* Main Content
--------------------------------------------------------------------------------------------------------*/
.wrapper{display: flex;}
.main-container{background-color: #FAFAFA;}
.main-content{padding: 44px 50px;width: calc(100% - 242px); transition: all 0.7s ease;}
.setStatus .main-content{width: 100%;}
.sticker{position:relative;display: flex; justify-content: center; align-items:center; padding:0 34px; margin: 34px 0;}

.sticker::after{position:absolute;content: "";top: 0; bottom: 0; left: 0; right: 0; border-right:1px solid #E6E6E6;}
.MuiGrid-root:last-child>.sticker::after{position:absolute;content: ""; top: 0; bottom: 0; left: 0; right: 0; border-right:1px solid transparent;}

.sales-heading-line{display: flex; justify-content: space-between;}
.sales-card .img .img-fluid{max-width: 100%;height: auto; margin-top: 24px;}
.sales-card .datagraph{display: flex;justify-content: flex-start;}
.sales-card .img{display: flex; justify-content: center;}
.sales-card .img .pie-chart{margin-bottom: 25px;}
.sales-card .country{display: flex; justify-content: space-around;}

.cycle {position: relative; display: flex; justify-content: center; align-items: center;}
.cycle-center{position: absolute ;}
.country-sales-horizontal{display: flex; align-items: center;flex-direction: column; justify-content: center;}

.props::before{content:"";position: absolute;border-radius: 50px; left:-26px; width:18px;height:18px;}
.cta-btn{margin-bottom: 37px;display: flex; flex-wrap: nowrap;}

.validation-notes{margin-top: 38px; margin-bottom: 36px;}
.text-message{font-size: 15px;line-height: 20px;padding: 10px;min-height: 45px;display: flex;align-items: center;}
.text-message img{margin-right: 10px;}
.text-danger{color: #FF3535;border-radius: 5px; border: 1px solid Red;}
.text-warn{color: #FFC737;border-radius: 5px; border: 1px solid #FFC737;}
.text-info{color: #37DBFF;border-radius: 5px; border: 1px solid #37DBFF;}
.text-success{color: #65FF87;border-radius: 5px; border: 1px solid #65FF87;}
.login-select{background: url(./Assets/Images/select-arrow.svg) no-repeat; background-position:right 20px center;}
.header .rightnavbar .bell .profile-name,.header .rightnavbar .bell .profile-arrow{display: none;}
.paid{color:  #3CDD5F;background-color: #EBFFEF;padding:4px 10px;border-radius: 5px;}
.failed{color: #FF4545;background-color: #FFF5F5;padding: 4px 10px;border-radius: 5px;}
.pending{color: #BABABA;background-color: #F8F8F8;padding: 4px 10px;border-radius: 5px;}
.MuiCheckbox-root .MuiSvgIcon-root{background: url(./Assets/Images/check-tick.svg) no-repeat center center;}




/* Responsive Media Queries
--------------------------------------------------------------------------------------------------------*/
@media (max-width:1535px) {
    .MuiGrid-root:nth-child(3)>.sticker::after{position:absolute;content: ""; top: 0; bottom: 0; left: 0; right: 0; border-right:1px solid transparent;}

    .MuiGrid-root:nth-child(1)>.sticker::before , .MuiGrid-root:nth-child(2)>.sticker::before{position:absolute;content: ""; top: 0; bottom: -34px; left: 34px; right: 34px; border-bottom:1px solid #E6E6E6;}

}
@media (max-width:1399px) {
    /* .login-mockup{padding: 40px 0 30px 90px;} */
    /* .login-mockup .login-net{position: absolute;max-width: 55%;height: 100%; z-index: 1; right:0; bottom: 0;  left: 0px;top:0px;} */

    /* .login-form{margin-left: 120px;} */
    .country{display: flex;flex-direction: column;}
}
@media (max-width:1199px) {
    /* .login-form{margin-left: 80px;} */
    .country-sales-horizontal{display: flex; align-items: center; flex-direction: row; justify-content: space-evenly;}
    .login-mockup{padding: 0px 50px 0px 0px;}
    .login-mockup .login-net{display: none; position: absolute;max-width: 55%; height: 100%;z-index: 1; right:0; bottom: 0;  left: 0px;top:0px; }
 }
@media (max-width:899px) {
    .MuiGrid-root:nth-child(2)>.sticker::after, .MuiGrid-root:nth-child(4)>.sticker::after{position:absolute;content: ""; top: 0; bottom: 0; left: 0; right: 0; border-right:1px solid transparent;}
    .MuiGrid-root:nth-child(3)>.sticker::after{position:absolute;content: ""; top: 0; bottom: 0; left: 0; right: 0; border-right:1px solid #E6E6E6;}
    .MuiGrid-root:nth-child(3)>.sticker::before, .MuiGrid-root:nth-child(4)>.sticker::before{position:absolute;content: ""; top: 0; bottom: -34px; left: 34px; right: 34px; border-bottom:1px solid #E6E6E6;}

    .login-mockup{display: none;}
    .login-form{margin-left: 0; justify-content: center; display: flex; flex-direction: column; align-items: center; max-width: 100%;}
    .login-name{display: flex; justify-content: center; }

    .sidebar {position: fixed;margin-left: -242px;z-index: 30;height: 100%;}
    .main-content{padding:40px 35px;width: 100%;}
    .setStatus .sidebar {margin-left: 0px;flex-shrink: 1;overflow: hidden;}
    .overlay {position: fixed;transition: all 0.2s ease;top: 0;bottom: 0;left: 0;z-index: 29;visibility: hidden;
        background: rgba(0, 0, 0, 0.4);display: block;opacity: 0;right: 0;}
    .overlaysearch {position: fixed;transition: all 0.2s ease;top: 0;bottom: 0;left: 0;z-index: 29;visibility: hidden;
        background: rgba(0, 0, 0, 0.4);display: block;opacity: 0;right: 0;}
    .setStatus .overlay {visibility: visible;opacity: 1;}
    .setSearch .overlaysearch {visibility: visible;opacity: 1;}
    .setSearch .header{background-color: var(--primarymain);transition: all 0.7s ease;  }
    .search-input {display: none;}
    .setSearch .btn-close-search {display: block;position: absolute;right: 0;top: 20px;}
    .setSearch .search-input .form-control{width:100%; margin-left: 0 ; border: none; }
    .setSearch .search-input{  display: block; z-index: 1 ;position: fixed;background: transparent;margin: 0;top: 10px;left: 20px ;right: 60px ;border-radius: 10px; padding: 5px ;
     border:2px solid #C8242F; }
    .setSearch .leftnavbar .brand,.setSearch .leftnavbar .brand-icon,.setSearch .leftnavbar .toggle-icon,
    .setSearch .leftnavbar .search-btn,.setSearch .rightnavbar{display: none;}
    .leftnavbar .brand{margin-right:40px ;}
    .header .rightnavbar{margin-right: 15px;}
    .country{display: flex;flex-direction: column;}
 }
@media (max-width:599px) {
    .header .rightnavbar{margin-right: 10px;}
    .leftnavbar .brand{display: none;}
    .leftnavbar .brand-icon{display: block;width: 40px; height:40px; margin-left: 10px; margin-right: 10px;}

    .sticker{padding: 0 18px; margin: 18px 0;display: flex; justify-content: center;align-items: center; flex-direction: column;}
    .details-box{display: flex;align-items: center; flex-direction: column;}
    
    .MuiGrid-root:nth-child(2)>.sticker::after, .MuiGrid-root:nth-child(4)>.sticker::after{position:absolute;content: ""; top: 0; bottom: 0; left: 0; right: 0; border-right:1px solid transparent;}
    .MuiGrid-root:nth-child(3)>.sticker::after{position:absolute;content: ""; top: 0; bottom: 0; left: 0; right: 0; border-right:1px solid #E6E6E6;}
    .MuiGrid-root:nth-child(1)>.sticker::before , .MuiGrid-root:nth-child(2)>.sticker::before, .MuiGrid-root:nth-child(3)>.sticker::before, .MuiGrid-root:nth-child(4)>.sticker::before{position:absolute;content: ""; top: 0; bottom: -18px; left: 18px; right: 18px; border-bottom:1px solid #E6E6E6;}
    
    .main-content{padding:40px 20px;}
    .sticker{border-right: 1px solid transparent;}
    .login-form img{width: 200px;}
    .menu .profile-arrow{display: none;}
    .country-sales-horizontal{display: flex;flex-direction: column; align-items: center; justify-content: space-evenly;}
    .country{display: flex;flex-direction: row; justify-content: space-around;}
 }
 @media (max-width:475px) {
    .country{display: flex;flex-direction: column;}
    .sticker{display: flex; justify-content: center;align-items: flex-start; flex-direction: column;}
    .details-box{display: flex;align-items: flex-start; flex-direction: column;}
 }